*{
  box-sizing: border-box;
}
.active{
  background-color:gray;
  color: aqua;
  padding: 5px 5px;
  border-radius: 5px;
}
.active:hover{
  background-color:blue;
}
.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
input[type=text],input[type=name],input[type=email]{
  width: 100%;
  display: flex;
  align-items: center;
  border: 4px solid skyblue;
  border-radius: 10px;
  padding: 10px 5px;
  margin-bottom: 10px;
  
}
textarea{
  display:flex;
  border: 4px solid skyblue;
  border-radius: 10px;
  margin-bottom: 10px;
}
input[type=submit]{
  display: flex;
  padding: 10px 5px;
  width: 50%;
  border-radius: 10px;
  background-color: aqua;
  justify-content: center;
  align-items: center;
}

li{display: list-item;}

.font{
  font-family: 'Roboto';
}
.card{
  box-shadow: 10px 10px 5px 0px rgba(15,191,217,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(15,191,217,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(15,191,217,0.75);
}
.keyboardResize{
  width: 415px;
  height: 200px;
  margin: 0 auto;
}
.h1{
  font-size: 50px;
}
.backgroundImg{
  background-image: url("https://pixabay.com/get/g45e36f2470a09dd1369cf05dfd23a7370580dd44c47ce260b3fbc66b3cdc94dc6558529288b7d968b2cd7283f98948018c21dce4904803d82b6efb05c7f140ec407874d21c9848ede048065b688019d9_1920.jpg");
}
.box{
  width: 500px;
  background-color: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  color: white;
  font-family: 'Century Gothic', sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 250px;
  margin: 0 auto;
}
.heroImg{
  animation-name:floating;
  animation-duration: 3s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating{
  0%{
    transform: translate(0, 0px);
  }
  50%{
    transform: translate(0, 10px);
  }
  100%{
    transform: translate(0, -0px);
  }
}